h1 {
    color: black;
    text-align: center;
    font-size: 48px;
    background-color: rgb(231, 209, 188);
    padding: 20px;
}
.information {
  text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}